@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*Autor: Ivan De Paola */

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: "Montserrat", sans-serif;
}

.navigation{
	overflow:hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	background-color: #333;

}


li, a{
	float:left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color:aliceblue;
	text-decoration: none;
}

.nav_links{
	list-style:none;
	overflow:auto;
}

.nav_links li{
	display:inline-block;
	padding:0px 20px;
}

.nav_links li a{
	transition: all 0.3sec ease 0sec;
}

.nav_links li a:hover{
	color:#0088a9;
	background-color: #ddd;
}

body{
	height:100vh;
	width:100%;
	background-image:url(../homePage/wow_background.webp);
	background-position: center;
	background-size: cover;
}

.login{
	width:350px;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	position: absolute;
	color: #fff;
	
}

.login h1{
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0;

}

.login p{
	font-size: 20px;
	margin: 15px 0;

}

.login input{
	font-size: 16px;
	width:100%;
	padding:15px 10px;
	border:0;
	outline:none;
	border-radius:5px;

}

.login button{
	font-size: 18px;
	font-weight: bold;
	margin:20px 0;
	padding:15px 10px;
	width:50%;
	border-radius:5px;
	border:0;

}

.login a{
	text-decoration: none;
	font-size: 12px;
}





