@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*Autor: Ivan De Paola */

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: "Montserrat", sans-serif;
}

.navigation{
	overflow:hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	background-color: #333;

}


.content{
	height:100vh;
	width:100%;
	background-image:url(../homePage/wow_background.webp);
	background-position: center;
	background-size: cover;
	box-sizing: border-box;
	position:relative;
	
}

li, a{
	float:left;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color:aliceblue;
	text-decoration: none;
}

.nav_links{
	list-style:none;
	overflow:auto;
}

.nav_links li{
	display:inline-block;
	padding:0px 20px;
}

.nav_links li a{
	transition: all 0.3sec ease 0sec;
}

.nav_links li a:hover{
	color:#0088a9;
	background-color: #ddd;
}

 .search{
    text-align: center;
    width: 500px;
    padding: 30px;
    margin: 0 auto;
    background-color:darkslategrey;
    border-radius: 35px;
  }
 
  .lobbyjoin{
    width: 500px;
    text-align: center;
    margin: 0 auto;
  }
  
  table{
    background-color:darkorange;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 15px;
  }

  th{
    text-align: left;
    width: 200px;
  }
  
  .animated-console {
    background-color: #fefefe;
    margin: 5% auto 10% auto;
    border: 1px solid #888;
    width: 30%;
    position:relative;
  }
  
    .console {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 0px;
  }
  
    .remove {
    position: absolute;
    right: 5px;
    top: -20;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .remove:hover,
  .remove:focus {
    color: red;
    cursor: pointer;
  }
  
  



